* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 150px;
    background-color: #5993BF;
    display: flex;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
    color: #ffff;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    
}

.menu {
    background-color: #5993BF ;
    height: 100vh;
}

.menu-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: baseline ;
    align-items: flex-start;
    color: #ffff;
    padding: 0rem 2rem;
}

.column-left h1 {
    margin-top: 7rem;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.column-left ul {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.column-left a {
    color: #ffff;
    text-decoration: none; /* Remove sublinhado */
}

.column-left a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}





 
