* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 150px;
    background-color: #5993BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: #ffff;
    font-size: 4rem;
    font-weight: bold;
    font-style: italic;
    margin-left: 100px;
    
}

nav a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffff;
    padding: 0 1.5rem;
}

.menu {
    background-color: #5993BF ;
}

.menu-container {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left h1 {
    color: #ffff;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 3.5rem;
}

.column-left p {
    color: #ffff;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: justify;
}

.column-left a {
    color: #ffff;
    font-size: 2rem;
} 

.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
}

.form {
    background-color: #5993BF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 150px); 

}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    width: 150%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

th {
    width: 30%;
    font-weight: bold;
    color: #ffff;}

button {
    background-color: #ffff;
    color: #5993BF;
    border: none;
    height: 50px;
    width: 120px;
    font-size: 2rem;
    border-radius: 10px;
}

@media screen and (max-width: 768px){
    .menu-container {
        grid-template-columns: 1fr;
    }
}
